<%- include ('header', {session}); %>
   <div class="category-title">
    <h1 class="title">Electricidad</h1>
</div>
<main>
    <section class="cards">
        <div class="card">
            <div class="card__image-container">
                <img src="img/reparar.jpeg" alt="mountain">
            </div>
            <div class="card__content">
                <p class="card__title text--medium">
                    <a href="trabajo.html" class="ir">
                        <strong>Reparo autos electricos</strong>
                    </a>
                </p>
                <div class="card__info">
                    <a href="perfil.html" class="vendor">Elon Musk</a>
                    <p class="card__price text--medium">San Miguelito</p>
                    <p class="card__price text--medium">Capital</p>
                </div>
                <br>
            </div>
        </div>
        <div class="card">
            <div class="card__image-container">
                <img src="img/reparar.jpeg" alt="mountain">
            </div>
            <div class="card__content">
                <p class="card__title text--medium">
                    <a href="trabajo.html" class="ir">
                        <strong>Reparo autos electricos</strong>
                    </a>
                </p>
                <div class="card__info">
                    <a href="perfil.html" class="vendor">Elon Musk</a>
                    <p class="card__price text--medium">San Miguelito</p>
                    <p class="card__price text--medium">Capital</p>
                </div>
                <br>
            </div>
        </div>
        <div class="card">
            <div class="card__image-container">
                <img src="img/reparar.jpeg" alt="mountain">
            </div>
            <div class="card__content">
                <p class="card__title text--medium">
                    <a href="trabajo.html" class="ir">
                        <strong>Reparo autos electricos</strong>
                    </a>
                </p>
                <div class="card__info">
                    <a href="perfil.html" class="vendor">Elon Musk</a>
                    <p class="card__price text--medium">San Miguelito</p>
                    <p class="card__price text--medium">Capital</p>
                </div>
                <br>
            </div>
        </div>
        <div class="card">
            <div class="card__image-container">
                <img src="img/reparar.jpeg" alt="mountain">
            </div>
            <div class="card__content">
                <p class="card__title text--medium">
                    <a href="trabajo.html" class="ir">
                        <strong>Reparo autos electricos</strong>
                    </a>
                </p>
                <div class="card__info">
                    <a href="#" class="vendor">Elon Musk</a>
                    <p class="card__price text--medium">San Miguelito</p>
                    <p class="card__price text--medium">Capital</p>
                </div>
                <br>
            </div>
        </div>
        <div class="card">
            <div class="card__image-container">
                <img src="img/reparar.jpeg" alt="mountain">
            </div>
            <div class="card__content">
                <p class="card__title text--medium">
                    <a href="trabajo.html" class="ir">
                        <strong>Reparo autos electricos</strong>
                    </a>
                </p>
                <div class="card__info">
                    <a href="#" class="vendor">Elon Musk</a>
                    <p class="card__price text--medium">San Miguelito</p>
                    <p class="card__price text--medium">Capital</p>
                </div>
                <br>
            </div>
        </div>
        <div class="card">
            <div class="card__image-container">
                <img src="img/reparar.jpeg" alt="mountain">
            </div>
            <div class="card__content">
                <p class="card__title text--medium">
                    <a href="trabajo.html" class="ir">
                        <strong>Reparo autos electricos</strong>
                    </a>
                </p>
                <div class="card__info">
                    <a href="#" class="vendor">Elon Musk</a>
                    <p class="card__price text--medium">San Miguelito</p>
                    <p class="card__price text--medium">Capital</p>
                </div>
                <br>
            </div>
        </div>
    </section>
</main>
<%- include ('footer') %>
