<div class="container">
    <footer>
        <hr>
        <div class="row container">
            <div class="col-sm-3 col-xs-6">
                <nav class="footer-menu-section">
                    <ul style="list-style: none;">
                        <h3>iWork</h3>
                        <li><a href="#">Acerca de Nosotros</a></li>
                        <li><a href="#">Contáctenos</a></li>
                        <li><a href="#">Estadísticas de Vehículos</a></li>
                        <li><a href="#">Tendencia de precios</a></li>
                        <li><a href="#">iWork Business</a></li>
                        <li><a href="#">Resaltadores</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-3 col-xs-6">
                <nav class="footer-menu-section">
                    <ul style="list-style: none;">
                        <h3>Noticia</h3>
                        <li><a href="#">Nuevas Noticias</a></li>
                        <li><a href="#">Foro de Usuarios</a></li>
                        <li><a href="#">Registro</a></li>
                        <li><a href="#">Eventos</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-3 col-xs-6">
                <nav class="footer-menu-section">
                    <ul style="list-style: none;">
                        <h3>Ayuda</h3>
                        <li><a href="#">Como registarse</a></li>
                        <li><a href="#">Crear </a></li>
                        <li><a href="#">Uso</a></li>
                        <li><a href="#">Politica de Privacidad</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-3 col-xs-6">
                <nav class="footer-menu-section">
                    <ul style="list-style: none;">
                        <h3>Créditos</h3>
                        <li><a href="Perfil_autor">Marco</a></li>
                        <li><a href="Perfil_autor">William</a></li>
                        <li><a href="Perfil_autor">Leonel</a></li>
                        <li><a href="Perfil_autor">Rene</a></li>
                        <li><a href="Perfil_autor">Severiano</a></li>
                    </ul>
                </nav>
            </div>
    </footer>
</div>
<div class="container">
    <footer>
        <div class="container">
            <hr><br>
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <a href="#"><img class="rondered-circle" src="images/logo_name1.png" alt=""
                            width="90px"></a>
                    <br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <h4>
                        <p>2020 iWork.com</p>

                    </h4>
                </div>
                <a href="#" style="color: white;">-<img class="rondered-circle" src="images/21155.png" alt=""
                        width="30px"></a>
                <a href="#" style="color: white;">-<img class="rondered-circle" src="images/ig.png" alt=""
                        width="30px"></a>
                <a href="#" style="color: white;">-<img class="rondered-circle" src="images/tw.png" alt=""
                        width="30px"></a>
            </div>
        </div><br><br>

    </footer>
</div>
</body>
