<%- include ('header', {session}); %>

<br><br>
    <div class="container">
        <h1>Créditos</h1><br>
        <h4>William Hong</h4><br>
        <p>Este es uno de nuestro integrantes del equipo, es uno de los encargados para el Front-end.</p><br>
        <h4>Integrantes del equipo</h4>
        <hr>
        <form action="/agregarCita" method="POST">
            <div class="form-row ">
                <div class="form-group col-md-6">
                    <label><a href="perfilMarco.html">Marco</a></label><br>
                    <label><a href="perfilLeonel.html">Leonel</a></label><br>
                    <label><a href="perfilRene.html">Rene</a></label><br>
                    <label><a href="perfilSeveriano.html">Severiano</a></label>
                </div>
            </div>
        </form>
    </div><br>
<%- include ('footer') %>
